<header>
  <h1>Couch-o-Rama</h1>

  <div class="menu">
    <a class="menu-link menu-link--active">All Teams</a>
    <a class="menu-link">Team 1</a>
    <a class="menu-link">Team 2</a>
    <a class="menu-link">Team 3</a>
    <a class="menu-link">Team 4</a>
  </div>
</header>

<section id="feeds"></section>