<header>
  <h1>Couch-o-Rama</h1>

  <div class="menu">
    <a id="link-all" class="menu-link menu-link--active">All Teams</a>
    <a id="link-one" class="menu-link">Team 1</a>
    <a id="link-two" class="menu-link">Team 2</a>
    <a id="link-three" class="menu-link">Team 3</a>
    <a id="link-four" class="menu-link">Team 4</a>
  </div>
</header>

<section id="feeds">
  <img class="loading" src="assets/loading.gif">
</section>