// Place all the styles related to the instagram controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black: #282828;
$white: #f5f5f5;

html {
  background: $black;
  color: $white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

header {
  position: relative;
}

h1 {
  display: inline-block;
  font-size: 1.9rem;
  font-weight: 100;
  padding: .5rem 1rem;
}

.menu {
  font-size: 1.6rem;
  font-weight: 100;
  float: right;
}

.menu-link {
  cursor: pointer;
  display: inline-block;
  margin-right: .5rem;
  padding: .5rem 1rem;
}

.menu-link--active {
  background: $white;
  border-radius: 50px;
  color: $black;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

.media {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
}

.media-caption {
  bottom: 3px;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 100;
  position: absolute;
  right: 3px;
}

.media-image {
  max-width: 100%;
}

@media (min-width: 600px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  .menu {
    margin: 1.4rem 0;
  }
  
  .media {
    width: 295px;
  }
  
  .media:nth-of-type(n) {
    margin-bottom: 3px;
    margin-right: 1px;
  }
}

@media (min-width: 900px) {
  body {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}

@media (min-width: 1500px) {
  body {
    width: 1500px;
  }
}

@media (min-width: 1800px) {
  body {
    width: 1800px;
  }
}

@media (min-width: 2100px) {
  body {
    width: 2100px;
  }
}