// Place all the styles related to the instagram controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$black: #282828;
$white: #f5f5f5;

html {
  background: $black;
  color: $white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer {
  font-weight: 100;
  text-align: center;
  padding: 1.6rem;
}

h1 {
  font-size: 1.9rem;
  font-weight: 100;
  padding: .5rem 1rem;
}

a {
  color: $white;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#feeds {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -webkit-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.6rem;
  font-weight: 100;
  justify-content: space-between;
}

.menu-link {
  cursor: pointer;
  padding: .5rem 1rem;
  flex-basis: 100%;
}

.menu-link--active {
  background: $white;
  border-radius: 50px;
  color: $black;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

.media {
  box-sizing: border-box;
  display: none;
  position: relative;
  width: 100%;
}

.media-one,
.media-two,
.media-three,
.media-four {
  display: block;
}

.media-caption {
  bottom: 3px;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 100;
  position: absolute;
  right: 3px;
  text-align: right;
}

.media-image {
  max-width: 100%;
}

@media (min-width: 600px) {
  body {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
  
  .menu {
    margin: 0 0 1.4rem 0;
  }
  
  .menu-link {
    flex-basis: auto;
  }
  
  .media {
    width: 295px;
  }
  
  .media:nth-of-type(n) {
    margin-bottom: 3px;
    margin-right: 1px;
  }
}

@media (min-width: 900px) {
  body {
    width: 900px;
  }
  
  header {
    flex-wrap: nowrap;
  }

  .menu {
    margin: 1.4rem 0;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}

@media (min-width: 1500px) {
  body {
    width: 1500px;
  }
}

@media (min-width: 1800px) {
  body {
    width: 1800px;
  }
}

@media (min-width: 2100px) {
  body {
    width: 2100px;
  }
}